@inherits LayoutComponentBase


<head>
    <style>
        .myDiv {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            margin: auto;
            padding: 100px;
        }
    </style>
</head>

<div class="page">

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>
        <div class="myDiv">
            <h2>This is a heading in a div element</h2>
            <p>This is some text in a div element.</p>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
